* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Navbar styling */
.header-container {
    background-color: #333333;
    padding: 10px 0;
    z-index: 1050px;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.menu-icon svg {
    cursor: pointer;
}

.container, .abt {
    margin: 50px;
}


.heading h1 {
    color: whitesmoke;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.heading h1 svg {
    margin-left: 10px;
}

.menu {
    text-transform: uppercase;
    display: flex;
    gap: 20px;
}

.menu a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ffcc00;
}

/* Footer styling */
.footer {
    background-color: #0a1930;
    padding: 20px 0;
    color: white;
    text-align: center;
}

.social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.social-medias p {
    margin-right: 10px;
    font-size: 16px;
}

.social-medias svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.social-medias svg:hover {
    fill: lightseagreen;
}

.offers {
    text-align: left;
}


/* Responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    
    .menu {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }
    
    .heading h1 {
        font-size: 20px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-group label {
    margin-right: 10px;
    width: 150px; 
}

.form-group input {
    flex-grow: 1;
}

input[type="submit"] {
    width: 150px; 
}

@media (min-width: 768px) {
    .footer .social-medias {
        flex-direction: row;
    }
}
